<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">EVENT APP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/events">Added Events</a>
        <a class="nav-link active" routerLink="/deleteevent">Deleted Events</a>
        <a class="nav-link" routerLink="/login">Logout</a>
      </div>
    </div>
  </div>
</nav>
<section class="container">
  <div class="row mt-4 p-3 ">
  <div class="card col-md-3 me-4 mb-3" *ngFor="let item of Trash" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Event Name: <strong>{{item.eventName}}</strong> </h5>
        <h5>Event Date: {{item.eventDate}}</h5>
        
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true" >
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Event Form</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form >
                      <div class="mb-3" >
                          <input type="text" class="form-control" id="recipient-name" >
                      </div>
                      <div class="mb-3">
                          <input type="text" class="form-control" id="recipient-name"[placeholder]="">
                      </div>
                      <div class="mb-3">
                          <input type="text" class="form-control" id="recipient-name"[placeholder]="">
                      </div>
                      
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary"  >Delete Event</button>
              </div>
          </div>
      </div>
  </div>


  
</section>
